<% layout("/layouts/boilerplate") -%>


    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user"><img src="https://api.dicebear.com/avatar.svg" />
                <%= post.username %>
            </h3>
            <h4 class="content">
                <%= post.content %>
            </h4>
            <br>
            <div class="use-btn">
                <a href="http://localhost:3000/posts/<%= post.id %>">See in detail...</a>

                <div class="use-btn2">
                    <a href="http://localhost:3000/posts/<%= post.id %>/edit"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                        <button class="btn"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <%}%>
            <br>
            <br>
